### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/.idea

**/target
**/node_modules
**/npm-*.log
**/generated
**/public/build